{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <div class="container">
            <p>Повернутись на <a href="{{ path('all_post') }}">головну сторінку</a></p>
            <h3>Редагувати пост</h3>
            {% include 'post/_form.html.twig' with {'button_label': 'Обновити пост', 'button_color': 'btn-outline-success'} %}
            {% if post.image %}
                <img src="{{ asset(image_dir ~ post.image) }}" class="img-fluid img-thumbnail" width="150"/>
            {% endif %}
        </div>
    </div>
{% endblock %}